:root {
  background: #a5b6ee;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.timer {
  width: 400px;
  height: 360px;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
}

/* Components */
.img-logo {
  width: 244px;
  height: 48px;
}

.timer {
  margin-top: 60px;
  text-align: center;
}

.tit-timer {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  margin-top: 48px;
}

/* .tit-timer::after {
} */

.cont-time {
  margin: 75px auto 40px;
}

.cont-time label {
  font-weight: 700;
  font-size: 12px;
  color: #a5b6ee;
}

.cont-time input {
  /* position: absolute; */
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  background-color: #354971;
}

.cont-btn button {
  width: 112px;
  height: 48px;
  border-radius: 50px;
  font-size: 14px;
  color: white;
}

.cont-btn img {
  height: 17px;
  margin-right: 6px;
  vertical-align: text-bottom;
}

.cont-btn .btn-start {
  background: #5180ff;
}

.cont-btn .btn-pause {
  background: #15c2b8;
}

.cont-btn .btn-reset {
  background: #fb7099;
}
